.joke-card {
    max-width: 600px;
    min-height: 300px;
    margin: auto;
    border-radius: 15 px;
    background-color: #FFCC3B;
    .its-a-joke {
        color: #283B50;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: -5px;
      }
  }
  
